---

---

<div class="grid">
  <section>
    <h3>Følelsen af at være anderledes</h3>
    <p>Selvom Mathilde nu lever af at dele ud af sig selv og sit liv, har det dog ikke altid set sådan ud. Da Mathilde voksede op, var hun altid den søde stille og generte pige i klassen, som altid fik at vide, at hun skulle række hånden mere op i timerne. </p>
    <p>Mathilde fortæller: “Jeg voksede op i en rigtig kernefamilie. Min barndom var god, men da jeg nærmede teenageårene, begyndte mine ADD-symptomer at blive mere synlige” </p>

  <p>“Jeg har altid følt mig anderledes og uduelig. Når jeg kiggede på folk omkring mig, følte jeg, at alle andre kunne klare hvad som helst, såsom at skabe nye venskaber eller at starte på gymnasiet” </p>
  <p>"Jeg vidste, jeg ikke ville kunne gennemføre gymnasiet. Så jeg endte med at finde mig et deltidsjob, hvorefter jeg startede på en uddannelse, som jeg droppede ud af. Derefter fandt jeg et nyt arbejde, som jeg også opsagde, og sådan blev det ved”, siger hun.
</p>
  </section>

  <img src="/math4.webp" alt="" />
</div>

<style>
  h3 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    font-size: 1.5rem;
    margin-top: 100px;
    margin-left: 93px;
  }

  h4 {
    font-size: 1.3rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: var(--power-blue);
    margin-left: 93px;
    mar
  }

  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 20px;
    margin-left: 93px;
    margin-bottom:20px;
  }

  img {
    width: 87.5%;
    margin-right: 0;
    margin-top: 50px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
</style>
