---

---

<div class="grid">
  <section class="billede">
    <h3>I de sene teenageår lagde mathilde mærke til</h3>
        <p>at hun havde brug for andre behov end dem hun ellers blev mødt med af folk omkring sig. Den kasse, som samfundet havde bygget til hende, kunne hun ikke længere være i, men uden at vide hvorfor eller hvordan tingene ellers kunne passe. </p>

    <img src="/math5.webp" alt="" />
  </section>
  <section class="kreativ">
    <div class="hjerte"><img src="/hjerte.webp" alt="" /></div>
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 93px;
  }

  img {
    width: 100%;
    margin-top: 30px;
  }

  .billede {
  }

  h3 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    margin-top: 50px;
  }

  .kreativ {
    margin-left: 20px;
    margin-right: 93px;
    margin-top: 50px;
  }

  p {
    margin-top: 20px;
  }

  .hjerte {
    width: 30%;
    margin-left: 200px;
    margin-top: 30px;
  }
</style>
