---

---

<div class="grid">
  <section>
    <h2>Ensomhed er forskelligt</h2>

    <img src="/figure.webp" alt="" />
  </section>
  <section>
    <p>fra person til person, men er en følelse, som opstår, når et menneske ikke får opfyldt sine sociale behov - som alle mennesker har brug for. Desværre er det hele 19% af alle unge i Danmark mellem 16 - 24 år, som føler sig ensomme. Samtidig bliver flere unge også diagnosticeret med psykiske lidelser, kæmper med stress og andre mentale udfordringer. I gennemsnit føler 52,3 procent unge kvinder mellem 16 og 24 år sig stressede, og 34% oplever mentale udfordringer med tal fra Sundhedsstyrelsen og Statens Institut for Folkesundhed, SDU
    </p>
    <div class="hjerter"><img src="/hjerter.webp" alt="" /></div>
  </section>
</div>

<p class="p2"></p>
<style>
  h2 {
    font-family: "obviously", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--power-blue);
    font-size: 2rem;
    text-align: center;
    margin-left: 93px;
    margin-top: 50px;
    line-height: 2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  img {
    width: 80%;
  }

  p {
    color: var(--love-red);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 190px;
    margin-right: 93px;
    line-height: 2rem;
    margin-bottom: 10rem;

  }

  .hjerter {
    width: 60%;
    margin-top: 30px;
    margin-left: 150px;
  }

  .p2 {
    color: var(--power-blue);
    text-align: center;
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
</style>
